* {
    padding: 0;
    margin: 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    perspective: 1000px;
    background-color: #d3d3d3;
    font-family: Tahoma;
}

.card {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out
}

.card:hover {transform: rotateY(180deg);}

.card>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    color: #777;
}

.card .front {
    z-index: 1;
    backface-visibility: hidden;
}

.card .front header {
    background-color: #444;
    width: 100%;
    height: 80px;
    margin-bottom: 55px;
    border-radius: 10px 10px 0 0;
}

.card .front img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card .front h3 {margin-bottom: 5px;}

.card .front p {
    margin: 0 auto;
    line-height: 1.7;
    width: 90%;
}

.card .front span {
    display: inline-block;
    margin-top: 5px;
    color: #1812A9;
    font-weight: bold;
}

.card .back {
    z-index: 2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card .back ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}