* {
    padding: 0;
    margin: 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    perspective: 1000px;
    background-color: #d3d3d3;
    font-family: Tahoma;
    text-transform: capitalize;
}

.card {
    width: 300px;
    height: 360px;
    margin: 50px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.7s ease-in-out;
    -webkit-transition: all 1.7s ease-in-out;
    -moz-transition: all 1.7s ease-in-out;
    -ms-transition: all 1.7s ease-in-out;
    -o-transition: all 1.7s ease-in-out;
}

.card:hover {transform: rotateY(180deg);}

.card>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #777;
}

.card .front {
    z-index: 1;
    backface-visibility: hidden;
    text-align: center;
}

.card .front header {
    background-color: #777;
    width: 100%;
    height: 80px;
    margin-bottom: 55px;
    border-radius: 10px 10px 0 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.card:hover .front header {
    background-color: #444;
}

.card .front img {
    width: 105px;
    height: 105px;
    position: relative;
    top: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card .front h3 {
    margin-bottom: 5px;
    color: #333;
}

.card .front p {
    margin: 0 auto;
    line-height: 1.7;
    width: 90%;
    text-transform: capitalize;
}

.card .front span {
    display: inline-block;
    margin-top: 25px;
    color: #0968B6;
    font-weight: bold;

}

.card .back {
    z-index: 2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card .back ul {
    list-style: none;
    padding: 0;
    line-height: 2;
    text-align: center;
    margin-top: 85px;
    font-weight: bold;
}

.card .back a {
    text-decoration: none;
    line-height: 2;
    color: #0968B6;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.card .back a:hover {
    color: #4aa3ec;
}